* {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
  background-image: url(https://cdn.britannica.com/74/182174-050-6755AB49/balloon-sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 17px;
  font-size: 27px;
}
a {
  text-decoration: none;
  color: greenyellow;
}
ul {
  display: flex;
  color: greenyellow;
}
ul li {
  margin-right: 13px;
}
.welcome-section {
  position: absolute;
  color: greenyellow;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
